body{
    background-color: aquamarine;
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    
}
.btn{
    background-color: rgb(209, 209, 226);
    color: green;
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    position: relative;
    overflow: hidden;

}
.btn::before{
    content: '';
    position: absolute;
    background-color: orangered;
    height: 0;
    width: 0;
    left: var(--xPos);
    top: var(--yPos);
    border-radius: 50%;
    transform: translate(-50%,-50%);
    transition: width 0.5s, height 0.5s;

}
.btn span{
    position: relative;
    z-index: 1;
}
.btn:hover::before{
    height: 300px;
    width:300px;

}
   